<div class="container-fluid">
        <div class="car row">
            <div class="serv-links">
                <h3>Quick Links</h3>
                <ul>
                    <li><a routerLink="services">Services</a></li>
                    <li><a routerLink="about">About Us</a></li>
                    <li><a routerLink="contact-us">Contact Us</a></li>
                </ul>
            </div>
            <div class="card-textt" >
                <h3>Our Offices</h3>

                <p class="location">WOODLANDS TRAIL
                OFF STATEHOUSE RD<br>
                0722888636| 0795534301<br>
                P.O BOX 6953 00100<br>
                NAIROBI, KENYA<br>
                <a class="mail" href="mailto:savvyhouse01@gmail.com">EMAIL: SAVVYHOUSE01@GMAIL.COM</a></p>
            </div>
            
            <div class="card-imagee">
                <img class="img" src="assets/img/savyhouselogo-removebg-preview.png" alt="">
            </div>
        </div>
        <div class="alchemist">
            <p>Powered by <a class="emist" href="https://www.instagram.com/joboytheeone/">The Alchemist</a> | All Rights Reserved | Copyright &#169;2023 </p>
        </div>
</div>
