<div class="container-fluid">
    <div class="two">
        <div class="car d-flex">
            <div class="card-text" >
                <h3>WOODLANDS TRAIL</h3>
                <h3>OFF STATEHOUSE RD</h3>
                <h3>0722888636| 0795534301</h3>
                <h3>P.O BOX 6953 00100</h3>
                <h3>NAIROBI, KENYA</h3>
                <h3>EMAIL: SAVVYHOUSE01@GMAIL.COM</h3>
            </div>
            <div class="card-image">
                <img src="assets/img/savyhouselogo-removebg-preview.png" alt="">
            </div>
        </div>
    </div>
</div>
