.card{
    background-image: url("https://cdn.pixabay.com/photo/2018/12/27/09/07/businessman-3897245__340.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card-text{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    color: black;
}

h3{
    text-align: right;
    font-weight: 500;
    font-size: x-large;
}