.card{
 display: flex;
 flex-direction: row;
 width: 100%;
}

.card-body{
    padding-right: 10%;
    padding-left: 10%;
}

.card-body1{
    background-color: white;
    margin-top: 5%;
}

.text-muted{
    color: black !important;
    font-weight: 100;
    font-size: large;
}

h3{
    margin-top: 5%;
    border-bottom: 5px solid black;
    width: 30%;
    padding-bottom: 2%;
}

h1{
    font-size: xx-large;
    font-weight: 900;
    color: black;
    margin-bottom: 5%;
    margin-top: 5%;
}
.one{
    color: black;
}
.card-text{
    color: black;
    font-size: large;
}

