<div class="container-fluid ">
    <h1 class="text-center h1">
        About Us
    </h1>
    <div class="cardd">
        <div class="card-body">
            <p class="card-text who text-center">We're glad to have you on board! <br> Savvy house is a fast-paced digital marketing company dedicated to transforming brands and businesses into success stories through the rapidly evolving digital space-leveraging on best practices, modern tools and latest frameworks.</p>
        </div>
    </div>

    <div class="cardd">
        <div class="card-body card-body1" style="margin-bottom: 5%;">
            <div class="block">
                <p class="card-text vision"><strong>Our Vision</strong> <br> To be the preffered  and trusted partner of business organizations in digital marketing and branding solutions.</p>
                <p class="card-text pol vision"><strong>Our Mission</strong> <br> To deliver result-oriented digital marketing solutions that enhance our clients awareness, improve their sales and nature growth.</p>
                <p class="card-text pol vision"><strong>Our Values</strong><br> You will find us attentive, proactive and highly engaged with our customers. Since "digital" is a fast-moving technology, we move with our customers into building long-term sustainable relationships.</p>
            </div>
        </div>
    </div>  
    <div class="cardd">
        <div class="card-body ">
            <h1 class="text-center">
                Why Work With Us
            </h1>
            <p class="card-text text-center who" >Savvy House has clear sense of purpose. We are guided by our clear vision and values. Before we do anything, we ask ourselves why we are doing it. We work with transparency with clear goals in our mind and that can be seen and felt in our relationships with our clients. This clarity leads to sincerity and productivity in our campaigns and designs.</p>
        </div>
    </div>  
    <div class="card3">
        <h1 class="three text-center">
            Our Clients
        </h1>
        <div class="clients-img">
            <ul class="row">
                <li class="iyo"><img
                    src="assets/img/peptang-removebg-preview.png"
                    alt="img"></li>
                <li class="imgg iyoo"><img
                    src="assets/img/charter-removebg-preview.png"
                    alt="img"></li>
                <li class="imgg iyooo"><img
                    src="assets/img/tropikal-removebg-preview.png"
                    alt="img"></li>
                <li class="imgg iyoo"><img
                    src="assets/img/ariel-removebg-preview.png"
                    alt="img"></li>
                <li class="imgg iyoo"><img
                    src="assets/img/airtel-removebg-preview.png"
                    alt="img"></li>
            </ul>
          </div>
    </div> 
</div>
