.container-fluid{
    background-color: #191e23;
    padding-top: 3%;
}

.card-body{
    padding-right: 10%;
    padding-left: 10%;
}

.card-body1{
    margin-top: 2%;
}

.text-muted{
    color: #777777 !important;
    font-weight: 900;
    font-size: xx-large;
}

h3{
    margin-top: 5%;
    border-bottom: 5px solid #777777;
    width: 30%;
    padding-bottom: 2%;
}

h1{
    font-size: xx-large;
    font-weight: 900;
    color: #999999;
    margin-top: 2%;
    margin-bottom: 2%;
}

.one{
    color: #999999;
    text-align: center;
    font-size: x-large;
    font-weight: 900;
}
.card-text{
    color: #777777;
    font-size: large;
}
.card2{
    background-image: url('https://cdn.pixabay.com/photo/2017/04/12/08/55/mobile-phone-2224001__340.jpg');
    background-repeat: no-repeat;
    padding-left: 40%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-top: 2%;
}
strong{
    color: #999999;
    font-size: x-large;
}

.card2 p{
    box-shadow: 5px 5px 5px 5px #55585c;
    padding: 5%;
    text-align: right;
}

.vision{
    box-shadow: 5px 5px 5px 5px #55585c; 
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 5%;
    text-align: center;
    line-height: 200%;
    background-color: #292c2f;
}

.pol{
    margin-left: 8%;
}

.who{
    line-height: 200%;
}

.block{
    display: flex;
}

@media only screen and (max-width: 500px) {
    .who{
        font-size: 15px;
        font-weight: 400;
        padding-left: 3%;
        padding-right: 3%;
        text-align: center;
        line-height: 150%;
    }

    .h1,.one,h1{
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }

    strong{
        font-size: 18px;
        font-weight: 600;
        text-align: center;
    }

    .vision{
        font-size: 15px;
        font-weight: 400;
        padding-left: 3%;
        padding-right: 3%;
        text-align: center;
        line-height: 150%;
        margin-top: 10%;
    }

    .block{
        display: block;
        margin-bottom: 15%;
    }

    .pol{
        margin-left: 0;
    }

    .cardd{
        margin-bottom: 15%;
    }
}