.container-fluid{
    margin-top: 7%;
}
.card{
 display: flex;
 flex-direction: row;
 width: 100%;
 border: none;
}

.card-body{
    padding-right: 10%;
    padding-left: 10%;
}

.card-body1{
    background-color: white;
    margin-top: 2%;
}

.text-muted{
    color: #df1380 !important;
    font-weight: 100;
    font-size: large;
}

h3{
    margin-top: 5%;
    border-bottom: 5px solid #df1380;
    width: 30%;
    padding-bottom: 2%;
}

h1{
    font-size: xx-large;
    font-weight: 900;
    color: #df1380;
    margin-bottom: 5%;
    margin-top: 5%;
}
.one{
    color: #df1380;
}
.card-text{
    color: black;
    font-size: large;
}
.card2{
    background-image: url('https://cdn.pixabay.com/photo/2017/04/12/08/55/mobile-phone-2224001__340.jpg');
    background-repeat: no-repeat;
    padding-left: 40%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-top: 2%;
}
strong{
    color: #df1380;
}
.two{
    color: #df1380;
    width: 50%;
    padding-bottom: 4%;
}
.card2 p{
    box-shadow: 5px 5px 5px 5px #e2dede;
    padding: 5%;
    text-align: right;
}

