<div class="container-fluid ">
    
    <div class="card">
        <div class="card-image">
            <img src="https://cdn.pixabay.com/photo/2017/07/31/11/44/laptop-2557571__340.jpg" class="card-img-top" alt="...">
            </div>
        <div class="card-body">
            <h3>
                <small class="text-muted">About the Company</small>
            </h3>
            <h1>
                Who We Are
            </h1>
            <p class="card-text" style="box-shadow: 5px 5px 5px 5px #e2dede; padding: 5%;">We're glad to have you on board! <br> Savvy house is a fast-paced digital marketing company dedicated to transforming brands and businesses into success stories through the rapidly evolving digital space-leveraging on best practices, modern tools and latest frameworks.</p>
            
        </div>
    </div>
    <div class="card">
        <div class="card-body card-body1" style="margin-bottom: 5%;">
            <h1 class="one">
                Our Vision Mission and Values
            </h1>
            <p class="card-text" style="box-shadow: 5px 5px 5px 5px #e2dede; padding: 5%;"><strong>Our Vision</strong> <br> To be the preffered  and trusted partner of business organizations in digital marketing and branding solutions.</p>
            <p class="card-text" style="box-shadow: 5px 5px 5px 5px #e2dede; padding: 5%;"><strong>Our Mission</strong> <br> To deliver result-oriented digital marketing solutions that enhance our clients awareness, improve their sales and nature growth.</p>
            <p class="card-text" style="box-shadow: 5px 5px 5px 5px #e2dede; padding: 5%;"><strong>Our Values</strong><br> You will find us attentive, proactive and highly engaged with our customers. Since "digital" is a fast-moving technology, we move with our customers into building long-term sustainable relationships.</p>
        </div>
    </div>  
    <div class="card card2">
        <div class="card-body card-body2 car">
            <h1 class="two">
                Why Work With Us
            </h1>
            <p class="card-text" >Savvy House has clear sense of purpose. <br> We are guided by our clear vision and values. Before we do anything, we ask ourselves why we are doing it. <br> We work with transparency with clear goals in our mind and that can be seen and felt in our relationships with our clients. This clarity leads to sincerity and productivity in our campaigns and designs.</p>
        </div>
    </div>  
    <div class="card3">
        <h1 class="three text-center">
            Our Clients
        </h1>
        <div class="card-image text-center" style="margin-bottom:5%;">
            <img src="https://o.remove.bg/downloads/5165578d-116a-4672-a8a5-4aff223517e9/peptang-removebg-preview.png" alt="">
            <img src="https://o.remove.bg/downloads/c1036845-546e-4b43-b969-058cb8695fe6/flights-removebg-preview.png" alt="">
            <img src="https://o.remove.bg/downloads/ced9607d-bce5-4064-9ddf-dd28ad929b8e/tropikal-removebg-preview.png" alt="">
            <img src="https://o.remove.bg/downloads/eba6fd7f-64ab-4e7a-bca4-198fe9ca14ac/ariel-removebg-preview.png" alt="">
            <img src="https://o.remove.bg/downloads/ee67f183-20bc-43a2-aa70-03bf06aaa970/airtel-removebg-preview.png" alt="">
        </div>
    </div> 
</div>
