<div class="container-fluid">
    
    <div class="card">
        <div class="card-image">
            <img src="https://images.unsplash.com/photo-1568436015753-b77765c3b683?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzh8fHBob25lJTIwY2FsbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500" class="card-img-top" alt="...">
            </div>
        <div class="card-body">
            <h3>
                <small class="text-muted">About the Company</small>
            </h3>
            <h1>
                Who We Are
            </h1>
            <p class="card-text">We're glad to have you on board! <br> Savvy house is a fast-paced digital marketing company dedicated to transforming brands and businesses into success stories through the rapidly evolving digital space-leveraging on best practices, modern tools and latest frameworks.</p>
            
        </div>
    </div>
    <div class="card">
       
        <div class="card-body card-body1">
            
            <h1>
                Who We Are
            </h1>
            <p class="card-text">We're glad to have you on board! <br> Savvy house is a fast-paced digital marketing company dedicated to transforming brands and businesses into success stories through the rapidly evolving digital space-leveraging on best practices, modern tools and latest frameworks.</p>
        </div>
        <div class="card-image" >
            <img src="https://images.unsplash.com/photo-1566890463705-46b4fefa8a53?ixlib=rb-1.2.1&raw_url=true&q=60&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDExfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500" class="card-img-top" alt="...">
        </div>
    </div>  
</div>