<div class="container-full">
  <header class="menu-header">
    <nav class="navbars">
      <a  class="nav-menu-logos" href="./index.html">SAVVY HOUSE</a>
      <ul class="nav-menus">
          <li class="nav-item one">
            <a class="nav-link active" aria-current="page" ><a routerLink="/">Home</a> </a>
          </li>
          <li class="nav-item one">
            <a class="nav-link" > <a routerLink="services">Services</a> </a>
          </li>
          <li class="nav-item one">
            <a class="nav-link" > <a routerLink="about">About</a> </a>
          </li>
          <li class="nav-item one">
            <a class="nav-link"> <a routerLink="contact-us">Contact</a> </a>
          </li>
      </ul>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
  </header>

  <header class="header">
    <nav class="navbars navbar-fixed">
      <ul class="nav-menu">
        <li class="nav-item">
          <img  class="nav-link gogo" src="/src/assets/img/savyhouselogo-removebg-preview.png" alt="logo">
          </li>
          <li class="nav-item one">
            <a class="nav-link active" aria-current="page" ><a routerLink="/">Home</a> </a>
          </li>
          <li class="nav-item one">
            <a class="nav-link" > <a routerLink="services">Services</a> </a>
          </li>
          <li class="nav-item one">
            <a class="nav-link" > <a routerLink="about">About</a> </a>
          </li>
          <li class="nav-item one">
            <a class="nav-link"> <a routerLink="contact-us">Contact</a> </a>
          </li>
      </ul>
    </nav>
  </header>
</div>