.fixed-top{
    padding-left: 40%;
    box-shadow: 3px 3px 3px 3px #d8b5c8;
    background-color: white;
}
.nav{
    display: flex;
    flex-direction: row;
} 


.nav-link {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}

.nav-link a {
    color: black;
    font-size: large;
    font-weight: 900;
    list-style-type: none;
    text-decoration: none;
}

.nav-link a:hover {
    color: #df1380;
    border-radius: 15px 50px;
}

