.fixed-top{
    box-shadow: 5px 5px 5px 5px #d8b5c8;
    background-color: #df1380;
}
.nav{
    display: flex;
    flex-direction: row;
    padding-left: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
} 

.nav-link {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}

.nav-link a {
    color: white;
    font-size: large;
    font-weight: 900;
    list-style-type: none;
    text-decoration: none;
}

.nav-link a:hover {
    color: black;
    border-radius: 15px 50px;
}

.navbar-brand{
    text-align: left;
    padding-left: 5%;
}

@media only screen and (max-width: 500px) {
    .fixed-top{
        box-shadow: none;
    }
}