  <div class="contactUs">
        <h2 class="title">Get in Touch </h2>
     <div class="box">
        <div class="contact form">
            <h3>Send a Message</h3>
         <form action="mailto:savvyhouse01@gmail.com" method="post" enctype="text/plain">
             <div class="formBox">
                 <div class="row50">
                     <div class="inputBox">
                         <span>First Name</span>
                         <input type="text" placeholder="First Name" style="height:50%;font-size:99%;  ">
                     </div>
                     <div class="inputBox">
                       <span>Last Name</span>
                       <input type="text" placeholder="Last Name" style="height:50%;font-size:99%;">
                   </div>
                 </div>
                 <div class="row50">
                   <div class="inputBox">
                       <span>Email Address</span>
                       <input type="text" placeholder="Email" style="height:50%;font-size:99%;">
                   </div>
                   <div class="inputBox">
                     <span>Mobile</span>
                     <input type="text" placeholder="Phone Number" style="height:50%;font-size:100%;">
                 </div>
               </div>
               <div class="row100">
                   <div class="inputBox">
                       <span>Message</span>
                       <textarea placeholder="Write your Message here..." style="font-size:99%"></textarea>
                   </div>
               </div>
               <div class="row100">
                      <input class="submit" type="submit" value="Submit">
               </div>
             </div>
         </form>
       </div>

         <!---------info box----->
         <div class="contact info">
           <h3>Contact Info</h3>
           <div class="infoBox">
                 <h4>Woodlands Trail <br> Off Statehouse RD, Nairobi</h4>
                 <p class="sass">
                  <a href="mailto:savvyhouse1@gmail.com"><i class="fa-solid fa-envelope"></i> savvyhouse01@gmail.com</a> <br>
                  <a href="tel:0722888636"><i class="fa-solid fa-phone"></i> +254 722888636</a> <br>
                  <a href="tel:0795534301"><i class="fa-solid fa-phone"></i> +254 795534301</a>
                 </p>
                 <p class="postal">P.O Box: 6953-00100 Nairobi,KENYA</p>
            </div>
                 <!-----social media links---->
            <ul class="sci">
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://wa.me/+254722888636"><i class="fa-brands fa-whatsapp"></i></a></li>
              <li><a href="mailto:savvyhouse1@gmail.com"><i class="fa-solid fa-envelope"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            </ul>
           </div>
          <!------------map------->
          <div class="contact map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d498.6013388537896!2d36.79873363067672!3d-1.2877048754324745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f10b757c45685%3A0xbb9cf717d11eeb12!2sWoodlands%20Trail!5e0!3m2!1sen!2ske!4v1653909508004!5m2!1sen!2ske" 
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
     </div>
  </div>