<body>
<div class="contactUs">
  <div class="title">
      <h2>Get in Touch </h2>
      <div class="box">

        <!------form------>
          <div class="contact form">
              <h3>Send a Message</h3>
          <form action="mailto:kindavidmumo@gmail.com" method="post" enctype="text/plain">
              <div class="formBox">
                  <div class="row50">
                      <div class="inputBox">
                          <span>First Name</span>
                          <input type="text" placeholder="Dave" style="height:40%;">
                      </div>
                      <div class="inputBox">
                        <span>Last Name</span>
                        <input type="text" placeholder="Mumo" style="height:40%;">
                    </div>
                  </div>
                  <div class="row50">
                    <div class="inputBox">
                        <span>Email Address</span>
                        <input type="text" placeholder="davmumo@gmail.com" style="height:40%;">
                    </div>
                    <div class="inputBox">
                      <span>Mobile</span>
                      <input type="text" placeholder="+254 711121314" style="height:40%;">
                  </div>
                </div>
                <div class="row100">
                    <div class="inputBox">
                        <span>Message</span>
                        <textarea placeholder="write your Message here..."></textarea>
                    </div>
                </div>
                <div class="row100">
                    <div class="inputBox">
                       <input type="submit" value="send">
                    </div>
                </div>
              </div>
          </form>
        </div>

          <!---------info box----->
          <div class="contact info">

          </div>
          <!------------map------->
          <div class="contact map"></div>
      </div>
  </div>
 </div>
</body>