h1{
    color: #df1380;
    margin-top: 5%;
    padding-top: 5%;
    font-weight: bold;
    font-size: xx-large;
}
.card{
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: none;
    box-shadow: 5px 5px 5px 5px #e2dede;
}

.card-title{
    margin-top: 5%;
    font-size: x-large;
    font-weight: bold;
}
.card-image img{
    width: 100%;
}
.card-body{
    padding: 5%;
    font-size: larger;
}
