<div class="container-fluid mt-5">
  <h1 class="text-center ">Our Services</h1>
  <div class="container d-flex">
    <div class="row">
    <div class="card text-center col-md-4">
        <div class="card-image">
          <img src="https://cdn.pixabay.com/photo/2017/01/20/19/53/productivity-1995786__340.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card-title">
          <p>Content & Website Development</p>
        </div>
        <p class="card-header">Our web design & development services are inline with our service property and guidlines.</p>
        <div class="card-body">
          <p class="card-text">We listen to our clients requirements first and then identify what you wish to achieve. We then develop ideas to determine structure and technologies that suit your requirements. We also study your market/industry to analyze it thoroughly to design the user-friendly optimal solution. After a few discussions we will come on one page with you to design and develop the solution.</p>
        </div>
    </div>

    <div class="card text-center  col-md-4">
      <div class="card-image">
        <img src="https://cdn.pixabay.com/photo/2019/04/20/04/51/social-media-4140959__340.jpg" class="card-img-top" alt="...">
      </div>
      <div class="card-title">
        <p>Social Media Marketing</p>
      </div>
      <div class="card-body">
        <p class="card-text">We take care of your company's entire Digital Marketing needs. We help you: <strong>Grow your followers, Create an engaged community and Increase traffic on your website.</strong> </p>
      </div>
    </div>

    <div class="card text-center col-md-4">
      <div class="card-image">
        <img src="https://cdn.pixabay.com/photo/2019/04/20/04/51/social-media-4140959__340.jpg" class="card-img-top" alt="...">
      </div>
      <div class="card-title">
        <p>Search Engine Optimization</p>
      </div>
      <div class="card-body">
        <p class="card-text">Savvy House operates as your SEO partner. It is an evolving process as Google and other major
          search engines enhance their ability to track and share the most relevant and useful content across
          the web. To achieve your goals and ‘enable’ you reach targeted customers who are looking for the
          type of products and services you offer, we provide an integrated set of SEO services such as
          keyword research, website optimization, content marketing and building backlinks. SEO is an
          investment with potentially high return. Elevating your rank to the top 3 positions on the first page,
          where most clicks go, can provide a considerable return on a small investment in SEO</p>
      </div>
    </div>

    <div class="card text-center col-md-4">
      <div class="card-image">
        <img src="https://cdn.pixabay.com/photo/2019/04/20/04/51/social-media-4140959__340.jpg" class="card-img-top" alt="...">
      </div>
      <div class="card-title">
        <p>Consulting</p>
      </div>
      <div class="card-body">
        <p class="card-text">Our 360-degree consultancy approach is designed to
          empower you to drive a fully comprehensive marketing
          strategy. We work closely with you to define a tailored
          marketing strategy based on analytical data and on your
          business ambitions. We guide our clients with the
          balance of each marketing channel in mind to maximize
          your returns. The real question is: how do you get more
          traffic? Work with our consultants to develop your B2B or
          B2C digital strategy and digital transformation program.
          Our typical consulting projects include rapid review and
          recommendations on: Digital Strategy Development</p>
      </div>
      <div class="card-logo">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
      </div>
    </div>

    <div class="card text-center col-md-6">
      <div class="card-image">
        <img src="https://cdn.pixabay.com/photo/2019/04/20/04/51/social-media-4140959__340.jpg" class="card-img-top" alt="...">
      </div>
      <div class="card-title">
        <p>Content Marketing</p>
      </div>
      <div class="card-body">
        <p class="card-text">Our professional content writers write user-friendly content after doing their industry research. This helps you
          promote your business by bringing organic traffic to your website. Users will keep coming back to your
          website if they get information that they are actively looking for. This helps increase your website ranking on
          the search engine. With regular content updates on your social channels and your website, you are paving a
          way for the users to visit you again. Hence, your content becomes a selling point for your services.</p>
      </div>
    </div>

    <div class="card text-center col-md-6">
      <div class="card-image">
        <img src="https://cdn.pixabay.com/photo/2019/04/20/04/51/social-media-4140959__340.jpg" class="card-img-top" alt="...">
      </div>
      <div class="card-title">
        <p>Search Engine Marketing</p>
      </div>
      <div class="card-body">
        <p class="card-text">Search engine marketing is yet another effective internet marketing technique that primarily aims
          to promote websites by increasing their visibility in search engine results pages (SERPs) mainly
          through paid advertising. When it comes to advertising, the basic principles apply. To design
          adds that drive traffic to a business website requires, again, full understanding of business
          objectives and target market.</p>
      </div>
    </div>
  </div>
</div>
</div>  