<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Shade&family=Cabin+Sketch&family=Carter+One&family=Fredericka+the+Great&family=Monoton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,900;1,200;1,500;1,700&display=swap" rel="stylesheet">

<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row" style="display: flex">
    <div class="row-col ">
      <img src="https://o.remove.bg/downloads/86399eba-1579-4a76-b955-9880d680392b/savyhouselogo-removebg-preview.png" alt="error">
      <h1>Welcome to SAVVY HOUSE</h1>
      <p>Your creative partner</p> 
    </div>
    <div class="row-col">
      <img src="https://images.unsplash.com/photo-1643503640904-75c1a2093570?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870" 
      alt="error" style="width:60%;  border: 7px solid #FA4EAB;margin-top:18%;">

    </div>
    
  </div>
</div>

<!------Course-------->
<section class="course">
  <div class="course-col">
     <div class="course-header">
     <h1>SERVICE PROCESS GUIDELINES</h1>
     </div>
    <div class="course-row">
    <h2>Listen and guide</h2>
    <p> We listen,understand and follow your requirements before refining them into a concept. <br> 
    We adopt a wow and how approach by presenting innovative ideas and giving our suggestions on how to turn them<br>
    into reality based goals.</p>
    </div>
    <div class="course-row">
      <h2>Requirements understanding</h2>
      <p> To ensure coherence between your business needs and what we do to enable it, we define the final requirements with you.<br>
      We understand that your requirements  may change during  the process and we are flexible to <br>
    walk with you throughout the process.</p>
      </div>
      <div class="course-row">
        <h2>Design, Develop and Support</h2>
        <p> At the final stage, our designers will work on your design themes and our writer will write the copies for you before they could<br>
          forwarded to the marketing department for final approval from your end.<br>
          Once the deliverables are approved, we start the marketing process and keep on providing you on-going <br>
          support that is required from our side.</p>
      </div>
  </div>
</section>













