<div class=" uno">
  <div class="container-fluid top">
    <div class="col-12">
      <img class="img" src="assets/img/savyhouselogo-removebg-preview.png" alt="error">
      <h1 class="welcome">Welcome To Savvy House</h1>
      <h2 class="partner">Your Creative Partner</h2>
      <p class="patnerr">Savvy house is a Digital Marketing Company dedicated to transforming brands and businesses
        into
        success
        stories through the rapidly evolving digital space. Leveraging on best practices, modern tools and the latest
        frameworks.</p>
    </div>
  </div>

  <h1 class="course-header">SERVICE PROCESS GUIDELINES</h1>
  <div class="row second">
    <div class="col-md-6 col-sm-12">
      <div class="course-row">
        <h2 class="goals">Listen and Guide</h2>
        <p class="goal"> We listen,understand and follow your requirements before refining them into a concept.
          We adopt a wow and how approach by presenting innovative ideas and giving our suggestions on how to turn
          them
          into reality based goals.</p>
      </div>
      <div class="course-row">
        <h2 class="goals">Requirements Understanding</h2>
        <p class="goal"> To ensure coherence between your business needs and what we do to enable it, we define the
          final
          requirements with you.
          We understand that your requirements may change during the process and we are flexible to
          walk with you throughout the process.</p>
      </div>
      <div class="course-row">
        <h2 class="goals">Design, Develop and Support</h2>
        <p class="goal"> At the final stage, our designers will work on your design themes and our writer will write the
          copies for
          you before they could
          forwarded to the marketing department for final approval from your end.
          Once the deliverables are approved, we start the marketing process and keep on providing you on-going
          support that is required from our side.</p>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 none">
      <div class="carddd">
        <img
          src="https://images.unsplash.com/flagged/photo-1563713076139-d9f44e576124?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170"
          class="card-imgg" alt="...">
        <div class="card-body">
          <p class="card-text text-center img-text">Your Digital Marketing Friend</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dos">
  <div class="serv row">
    <h1 class="service-header col-md-6 col-sm-12">OUR CORE SERVICES</h1>
    <a class="btn all col-md-6 col-sm-12" routerLink="services">View All Services  <i class="fa-solid fa-arrow-right"></i></a>
  </div>
  <div class="row cards">
    <div class="card carr">
      <img
        src="https://images.unsplash.com/photo-1571171637578-41bc2dd41cd2?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170"
        class="card-img-top" alt=".">
      <div class="card-body">
        <h1 class="tit">Content and Website development</h1>
        <p class="tet">We listen to our clients requirements first and then identify what you wish to acheive.
          We then design and develop the solution.</p>
        <a routerLink="services" class="btn learn">Learn More <i class="fa-solid fa-arrow-right"></i></a>
      </div>
    </div>
    <div class="card carr">
      <img src="https://cdn.pixabay.com/photo/2016/12/19/08/39/mobile-phone-1917737_960_720.jpg" class="card-img-top"
        alt=".">
      <div class="card-body">
        <h1 class="tit">Social media marketing</h1>
        <p class="tet">We take care of your Company's entire Digital marketing needs.</p>
        <a routerLink="services" class="btn learn">Learn More <i class="fa-solid fa-arrow-right"></i></a>
      </div>
    </div>
    <div class="card carr">
      <img src="https://cdn.pixabay.com/photo/2014/09/24/14/29/macbook-459196_960_720.jpg" class="card-img-top"
        alt=".">
      <div class="card-body">
        <h1 class="tit">Search Engine optimization</h1>
        <p class="tet">Savvy House operates as your SEO partner. Tap on button to learn more.</p>
        <a routerLink="services" class="btn learn">Learn More <i class="fa-solid fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>

<div class="clients-con container-fluid tres">
  <h1>Our Clients</h1>
  <div class="clients-img">
    <ul>
      <li><img
          src="https://o.remove.bg/downloads/4b66add4-8384-46ec-9229-0e297a3012d1/rKOxPRQg_400x400-removebg-preview.png"
          alt="."></li>
      <li><img
          src="https://o.remove.bg/downloads/bd41d041-a7d4-47b5-a5a1-9229d60b5566/p6ot32E__400x400-removebg-preview.png"
          alt="."></li>
      <li><img
          src="https://o.remove.bg/downloads/64e4a518-bc95-48f6-97fb-697a15830ee6/6711655971599580059-removebg-preview.png"
          alt="."></li>
      <li><img
          src="https://o.remove.bg/downloads/62c804eb-fc4e-4bc1-8834-4effdcf18b17/png-transparent-ariel-laundry-detergent-washing-omo-detergent-text-logo-sunlight-removebg-preview.png"
          alt="."></li>
      <li><img
          src="https://o.remove.bg/downloads/80e9e9bf-80b5-4934-8ac7-f31056f176d1/Airtel_logo_logotype_emblem-removebg-preview.png"
          alt="." style="height:70%;"></li>
    </ul>
  </div>
</div>
