<div class="container-fluid">
  <div class="row" style="display: flex">
    <div class="row-col col-6">
      <h1>Welcome to SAVY HOUSE</h1>
      <p>Your creative partner</p>
      <ul>
        <div class="social">
          <h2>Social links</h2>
          <ul>
            <li class="social-links">
              <a class="social-links__icon" target="_blank" href="">
                <img
                  class="icons"
                  src="https://cdn-icons-png.flaticon.com/512/733/733547.png"
                  alt="."
                />
              </a>
            </li>
            <li class="social-links">
              <a class="social-links__icon" target="_blank" href="">
                <img
                  class="icons"
                  src="https://cdn-icons-png.flaticon.com/512/733/733579.png"
                  alt="."
                />
              </a>
            </li>
            <li class="social-links">
              <a class="social-links__icon" target="_blank" href="">
                <img
                  class="icons"
                  src="https://cdn-icons-png.flaticon.com/512/174/174855.png"
                  alt="."
                />
              </a>
            </li>
            <li class="social-links">
              <a class="social-links__icon" target="_blank" href="">
                <img
                  class="icons"
                  src="https://cdn-icons-png.flaticon.com/512/174/174857.png"
                  alt="."
                />
              </a>
            </li>
            <li class="social-links">
              <a class="social-links__icon" target="_blank" href="">
                <img
                  class="icons"
                  src="https://cdn-icons-png.flaticon.com/512/1409/1409941.png"
                  alt="."
                />
              </a>
            </li>
            <li class="social-links">
              <a class="social-links__icon" target="_blank" href="">
                <img
                  class="icons"
                  src="https://cdn-icons-png.flaticon.com/512/220/220236.png"
                  alt="."
                />
              </a>
            </li>
          </ul>
        </div>
      </ul>
    </div>
    <div class="row-col col-6">
      <img src="" alt="error" />
    </div>
  </div>
</div>
